@using AnomalyDetection.Client.Components
@using Plotly.Blazor
@using Plotly.Blazor.Traces
@using Plotly.Blazor.Traces.ScatterLib
@using System.Reflection
@using System.Collections.Immutable
@using Plotly.Blazor.LayoutLib
@using Plotly.Blazor.Traces.ScatterLib.MarkerLib

<div style="width: @Width ; height: @Height">
    <PlotlyChart @bind-Config="_config" @bind-Layout="_layout" @bind-Data="Data" @ref="_chart" />
</div>

@code {
    PlotlyChart _chart;
    Config _config;
    Layout _layout;

    [Parameter]
    public IList<ITrace>? Data { get; set; }

    [Parameter] 
    public decimal? Width { get; set; } = 600;

    [Parameter]
    public decimal? Height { get; set; } = 600;

    [Parameter] 
    public string Title { get; set; } = "ChartComponent";

    protected override async Task OnInitializedAsync()
    {
        _config = new()
        {
            FillFrame = false,
            Responsive = true,
            AutoSizable = false
        };

        _layout = new Layout
        {
            Title = new Title
            {
                Text = Title
            },
            Width = Width,
            Height = Height,
            //PaperBgColor = "transparent",
            //PlotBgColor = "black",
            Font = new Font
            {
                // Color = Theme.PaletteDark.TextPrimary.ToString()
            },
            HoverMode = HoverModeEnum.XUnified
        };

        await base.OnInitializedAsync();
    }
}